@use "node_modules/ag-grid-community/styles" as ag;

@include ag.grid-styles(
  (
    theme: plan2do,
    extend-theme: alpine,
    header-background-color: #ffffff,
    borders-critical: 2px solid,
    font-family: Pretendard,
    font-size: 13px,
  )
);

/* table style */
.ag-root-wrapper {
  border: 0px;
  white-space: normal; // pre-line 으로 설정될 경우 레이아웃 깨짐
}

/* th style */
.ag-header,
.ag-advanced-filter-header {
  border-bottom: 2px solid;
}

.ag-header-cell-text,
.ag-header-group-text {
  font-weight: 800;
}

/* 헤더 style */

.ag-body {
  font-weight: 700;
  font-family: Pretendard-T;
}

.ag-cell,
.ag-cell-focus {
  display: grid;
  align-items: center;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 1px solid #dfe7eb !important;
  border-bottom: 1px solid #dfe7eb !important;
  line-height: 22px;
  padding: 10px 15px;
}

.grid_default3 .ag-ltr .ag-cell .ag-cell-wrapper {
  align-items: normal;
}

.grid_default3 .ag-ltr .ag-cell .ag-selection-checkbox {
  display: inline-block;
}

.ag-overlay-no-rows-center {
  font-size: 18px;
  color: #cccccc;
}

*::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: #a0b7c1;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #608493;
  border: 3px solid #ffffff;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 그리드 버튼 스타일설정 */
.grid_btn {
  width: 30px;
  height: 30px;
  border: 0px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
.grid_btn[disabled] {
  opacity: 0.3;
}
.grid_btn_add {
  background-image: url("@/assets/img/grid_add_icon.png");
}
.grid_btn_add:hover {
  background-image: url("@/assets/img/grid_add_icon_h.png");
}
.grid_btn_modify {
  background-image: url("@/assets/img/grid_modify_icon.png");
}
.grid_btn_modify:hover {
  background-image: url("@/assets/img/grid_modify_icon_h.png");
}
.grid_btn_del {
  background-image: url("@/assets/img/grid_del_icon.png");
}
.grid_btn_del:hover {
  background-image: url("@/assets/img/grid_del_icon_h.png");
}
.grid_btn_doc {
  background-image: url("@/assets/img/grid_doc_icon.png");
}
.grid_btn_doc:hover {
  background-image: url("@/assets/img/grid_doc_icon_h.png");
}
.grid_btn_file {
  background-image: url("@/assets/img/file_icon.png");
}
.grid_btn_search {
  background-image: url("@/assets/img/search_btn.png");
  background-size: 50%;
  margin-right: -14px;
  float: right;
}
.grid_btn_search:hover {
  background-image: url("@/assets/img/search_btn_h.png");
}

.ag-row-pinned {
  font-weight: 800;
  background-color: #f9fafb;
}
